@model IEnumerable<WebApplication1.Models.Review>

@{
    ViewBag.Title = "Reviews";
}
<head>
    <link href="https://fonts.googleapis.com/css?family=Catamaran|Fascinate|Fontdiner+Swanky|Montserrat|Nova+Oval" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>


<body>
<h2>Index</h2>

<p>
    @Html.ActionLink("Write Review", "Create")
</p>

    @foreach (var item in Model)
    {
        <div class="row container">
            <div class="col-md-4 col-sm-12 col-xs-12 reviewed">
                <h2>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </h2>
                <h3 id="reviewTitle">
                    "@Html.DisplayFor(modelItem => item.Title)"
                </h3>
                <p>
                    @Html.DisplayFor(modelItem => item.Content)
                </p>
                <h5>
                    @Html.DisplayFor(modelItem => item.ReviewDate)
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </h5>
            </div>
        </div>
}

</table>
    </body>
